@page "/calendar"
@using DoIt.Client.Components.Loading
@using DoIt.Client.Extensions
@using DoIt.Client.Models.Menus
@using DoIt.Client.Models.Todos
@using DoIt.Client.Services.Todos
@using DoIt.Interface.Todos

@inject ITodoService TodoService;

@inherits BaseComponent

<div class="calendar-overview">
    <div class="Calendar-title">
        <h2>
            @_selectedDay.ToDayOfMonthStringFormat() @_selectedDay.Year
        </h2>
    </div>
    <div class="calendar-nav">
        @foreach (var date in GetCurrentWeek())
        {
            <div class="calendar-day">
                <div class="calendar-day-name">@date.DayOfWeek.ToStringFormat()</div>
                <div class="calendar-day-number @IsSelectedDay(date) circle" @onclick="()=> ChangeSelectedDay(date)">@date.Day</div>
            </div>
        }
    </div>
    <div class="calendar-data">
        <div class="calendar-open-tasks">
            <div class="calendar-open-tasks-header">
                <DoIt.Client.Components.Fields.Label Title="Open To-do's'">
                </DoIt.Client.Components.Fields.Label>


                <LoadingContainerComponent LoadingState="LoadingState">
                    <Rendered>
                        @foreach (var todo in _todosOpen)
                        {
                            <div class="calendar-task">
                                <DoIt.Client.Components.Buttons.IconButton Text="Add" Padding="0px" Margin="0px 3px" Height="auto" Width="auto" OnClick="() => AddTodoToCurrentDay(todo)">
                                </DoIt.Client.Components.Buttons.IconButton>
                                @todo.Title
                                @todo.Description
                            </div>
                        }
                    </Rendered>
                </LoadingContainerComponent>
            </div>
        </div>
        <div class="calendar-open-day-schedule">
            <DoIt.Client.Components.Fields.Label Title="To-do's">
            </DoIt.Client.Components.Fields.Label>
            <LoadingContainerComponent LoadingState="LoadingState">
                <Rendered>
                    @foreach (var todo in _todosSelectedDate)
                    {
                        <div class="calendar-task">
                            <DoIt.Client.Components.Fields.CheckboxField Checked="todo.IsFinished"></DoIt.Client.Components.Fields.CheckboxField>
                            @todo.Title
                            @todo.Description
                            <DoIt.Client.Components.Menus.MenuComponent MenuItems="menuOptions" Icon="Models.Icons.IconType.MoreOptions">

                            </DoIt.Client.Components.Menus.MenuComponent>
                        </div>
                    }
                </Rendered>
            </LoadingContainerComponent>

            @*@foreach (var hour in GetCurrentDayInHours())
            {
            <div class="calendar-day-detail">
            <div class="calendar-hour">@hour</div>

            <!--div class="calendar-task">Get Milk</div>
            <div class="calendar-is-done">
            <DoIt.Client.Components.Fields.CheckboxField>

            </DoIt.Client.Components.Fields.CheckboxField>
            </div>-->
            </div>
            }*@
        </div>
    </div>

</div>

@code {
    DateTime _selectedDay = DateTime.Today;

    IEnumerable<TodoDto> _todosSelectedDate = new List<TodoDto>();
    IEnumerable<TodoDto> _todosOpen = new List<TodoDto>();
    IEnumerable<MenuOption> menuOptions = new List<MenuOption>()
    {
        new MenuOption(){
            Title = "Remove from to-do list",
            Icon = Models.Icons.IconType.Delete,
            OnClick = () => {}
        }
    };

    private IEnumerable<DateTime> GetCurrentWeek()
    {
        DateTime startOfWeek = DateTime.Today.AddDays(-1 * (int)(DateTime.Today.DayOfWeek));

        return Enumerable.Range(0, 7)
          .Select(offset => startOfWeek.AddDays(offset))
          .ToArray();
    }

    protected override async Task LoadDataAsync()
    {
        await LoadTodosOpen();
        await LoadTodosForSelectedDay();
    }

    private async Task LoadTodosOpen()
    {
        _todosOpen = await TodoService.GetListAsync(new Interface.Todos.GetTodoListQueryDto() { PlannedAt = null });
    }

    private async Task LoadTodosForSelectedDay()
    {
        _todosSelectedDate = await TodoService.GetListAsync(new Interface.Todos.GetTodoListQueryDto() { PlannedAt = _selectedDay });
    }

    private IEnumerable<TimeOnly> GetCurrentDayInHours()
    {
        return Enumerable.Range(0, 24)
          .Select(offset => new TimeOnly(offset, 0))
          .ToArray();
    }

    private string IsSelectedDay(DateTime date)
    {
        if (date == _selectedDay)
        {
            return "selected-day";
        }

        return "";
    }

    private async void ChangeSelectedDay(DateTime date)
    {
        _selectedDay = date;
        await LoadDataAsync();
        StateHasChanged();
    }

    private async void AddTodoToCurrentDay(TodoDto todo)
    {
        await TodoService.UpdateAsync(todo.Id, new Interface.Todos.UpdateTodoDto()
            {
                PlannedAt = _selectedDay,
                DueAt = todo.DueAt,
                Title = todo.Title,
                Description = todo.Description,
                GoalId = todo.GoalId
            });

        await LoadTodosOpen();
        await LoadDataAsync();
        StateHasChanged();
    }

    private async void RemoveTodoFromCurrentDay(object objectTodo)
    {
        var todo = (TodoDto)objectTodo;

        await TodoService.UpdateAsync(todo.Id, new Interface.Todos.UpdateTodoDto()
            {
                PlannedAt = null,
                DueAt = todo.DueAt,
                Title = todo.Title,
                Description = todo.Description,
                GoalId = todo.GoalId
            });

        await LoadTodosOpen();
        await LoadDataAsync();
        StateHasChanged();
    }
}
