@using DoIt.Client.Models.General;
@using DoIt.Client.Models.Icons;

<button class="icon-button button" style="@_style" type="@ButtonType" @onclick="OnClick">
    @if (Icon is not null)
    {
        <DoIt.Client.Components.Icons.IconComponent Icon="Icon.Value" Color="@Color" Padding="@Padding">
        </DoIt.Client.Components.Icons.IconComponent>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span class="button-text">@Text</span>
    }
</button>

@code {
    [Parameter]
    public string Height { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public AppColor Color { get; set; }

    [Parameter]
    public string ButtonType { get; set; } = "button";

    [Parameter]
    public IconType? Icon { get; set; }

    [Parameter]
    public bool Background { get; set; } = true;

    [Parameter]
    public string BackgroundColor { get; set; }

    [Parameter]
    public string Padding { get; set; }

    private string _style;


    protected override void OnInitialized()
    {
        var style = "";

        if (!string.IsNullOrEmpty(Height))
        {
            style += $"height: {Height};";
        }

        if (!string.IsNullOrEmpty(Width))
        {
            style += $"width: {Width};";
        }

        if (!Background)
        {
            style += $"background: none; box-shadow: none;";
        }
        else if(!string.IsNullOrEmpty(BackgroundColor))
        {
            style += $"background-color: {BackgroundColor}";
        }

        _style = style;
    }
}
