@using DoIt.Client.Models.Fields;

<div class="checkbox-field field" style="@checkboxFieldMargin">
	<input name="@Label" type="checkbox" checked=@Checked @onchange="@OnCheckChangedCallback" style="@inputFieldMargin" />
	<label for="@Label">@Label</label>
</div>

@code {
	[Parameter]
	public string Label { get; set; }

	[Parameter]
	public bool Checked { get; set; }

	[Parameter]
	public EventCallback<ChangeEventArgs> OnCheckChangedCallback { get; set; }

	[Parameter]
	public LabelPosition? PositionLabel { get; set; }

    private string checkboxFieldMargin = "";
    private string inputFieldMargin = "";

	protected override void OnInitialized()
	{
		base.OnInitialized();

	    if (!string.IsNullOrWhiteSpace(Label))
	    {
	        checkboxFieldMargin = "margin: 10px 10px 10px 0px;";
	        inputFieldMargin = "margin-right: 1rem;";

	    }

	}
}
