@inherits InputBase<string>

<div class="select-field field wrapper">
    <label for="@Label">@LabelView</label>
    <select name="@Label" @bind="@CurrentValue">
		@foreach (var option in Options)
		{
			<option value="@option">@option</option>
		}
	</select>
</div>
