@inherits InputBase<string>

<div class="text-field field wrapper">
    @if (HasLabel)
    {
        <label for="@Label">@LabelView</label>
    }
    @if (Multiline)
    {
        <textarea name="@Label" @bind="@CurrentValue" style="width: @Width" type="text" autocomplete="off" />
    }
    else
    {
        <input name="@Label" multiple @bind="@CurrentValue" style="width: @Width" type="text" autocomplete="off" placeholder="@Placeholder"
        @onfocusin="OnFocusInField" @onfocusout="OnFocusOutField"
        @oninput="OnFieldInputEvent" />
        @if (IsDisplayAutocomplete)
        {
            <div class="autocomplete-options" @onmouseover="OnAutocompleteMouseOver" @onmouseout="OnAutocompleteMouseOut">
                @foreach (var option in FilteredAutocompleteOptions)
                {
                    <div class="option" @onclick="() => SelectOption(option)">
                        @option
                    </div>
                }
            </div>
        }
    }
    <span class="bar" style="--input-width: @Width"></span>
    <ValidationMessage For="@ValidationFor" />
</div>